@import '../../assets/styles/variables.scss';

.beautyImage {
	height: 100%;
	width: 100%;
}

.bottomDiv {
	margin-top: 2rem;
}

.bottomSearch {
	height: 50vh;
	background-color: map_get($colors, 'pink');
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listItem {
	color: white;
}

.topBeauty {
	display: flex;
	height: 50vh;
	@media (max-width: map_get($grid-breakpoints, 'md')) {
		height: 70vh;
		flex-direction: column;
	}
}

.topDiv {
	width: 50%;
	height: 100%;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	&Blue {
		@extend .topDiv;
		background-color: map_get($colors, 'blue');
	}
	@media (max-width: map_get($grid-breakpoints, 'md')) {
		width: 100%;
		height: 50%;
	}
}
